# Data Analysis
## Data import and formatting

In [85]:
# Import packages
import pandas as pd

In [86]:
trades = pd.read_excel("../data/qq_trade_df.xlsx")
column_name_dict = {
    'BioGuideID':'bioguideID',
    'congress':'congress_num',
    'Ticker':'ticker',
    'Traded':'trade_date',
    'Transaction':'transaction_type',
    'price':'trade_price',
    'price_plus_365':'price_365_days_after_trade',
    'Sector':'sector',
    'Industry':'industry',
    'S&P500 Change (%)':'market_return',
    '365Day_excess_return':'excess_return',
    'Party':'party', 
    'State':'state',
    'Name':'name'
}

trades.rename(columns=column_name_dict, inplace=True)

# Add unique trade id
trades['trade_id'] = trades.index
trades.head(3)

,ticker,TickerType,Company,trade_date,transaction_type,Trade_Size_USD,Status,Subholding,Description,name,...,Symbol,sector,industry,Date,Date_Plus_365,market_return,price_change_pct,excess_return,congress_num,trade_id
0,CORP,ST,PIMCO INVESTMENT GRADE CORPORATE BOND INDEX EX...,2023-11-28,Sale,"$1,001 - $15,000",NEW,UNITED IRA,11/28/23 SOLD 383.695 SHARES OF PIMCO INVESTME...,Carol Devine Miller,...,NaN,NaN,NaN,2023-11-28,2024-11-27,31.7,4.183116,-27.516884,118,0
1,TMO,ST,THERMO FISHER SCIENTIFIC INC,2023-11-28,Sale,"$1,001 - $15,000",NEW,MORGAN STANLEY - SELECT UMA ACCOUNT # 1,NaN,Josh Gottheimer,...,TMO,Industrials,Industrial Machinery/Components,2023-11-28,2024-11-27,31.7,8.995306,-22.704694,118,1
2,CRT,ST,CROSS TIMBERS ROYALTY TRUST,2023-11-28,Purchase,"$1,001 - $15,000",NEW,NaN,NaN,Virginia Foxx,...,CRT,Energy,Oil & Gas Production,2023-11-28,2024-11-27,31.7,-45.572142,-77.272142,118,2

In [87]:
representative_info = pd.read_excel("../data/legislator_table.xlsx")
representative_info.columns = representative_info.columns.str.replace('bioguide','bioguideID')
representative_info.head(3)

,Unnamed: 0,bioguideID,govtrack,icpsr,wikipedia,first_name,last_name,birthday,gender,term_type,term_start,term_end,state,class,party
0,0,B000944,400050,29389.0,NaN,Sherrod,Brown,1952-11-09,M,rep,1993-01-05,1995-01-03,OH,NaN,Democrat
1,1,C000127,300018,39310.0,NaN,Maria,Cantwell,1958-10-13,F,rep,1993-01-05,1995-01-03,WA,NaN,Democrat
2,2,C000141,400064,15408.0,NaN,Benjamin,Cardin,1943-10-05,M,rep,1987-01-06,1989-01-03,MD,NaN,Democrat

In [88]:
committee_assignments = pd.read_excel('../data/committee_assignments.xlsx')
committee_assignments.drop(['State', 'Representative', 'Last Name', 'First Name', 'Middle Initial'], axis=1, inplace=True)


column_name_dict = {
    'Committee':'committee',
    'Rank':'rank',
    'Congress':'congress_num',
}

committee_assignments.rename(columns=column_name_dict, inplace=True)


committee_assignments.head(3)

             committee rank  congress_num bioguideID
0          Agriculture  NaN           117    A000370
1  Education and Labor  NaN           117    A000370
2   Financial Services  NaN           117    A000370

In [89]:
master_df = trades.merge(representative_info, on='bioguideID', how='left')
master_df

,ticker,TickerType,Company,trade_date,transaction_type,Trade_Size_USD,Status,Subholding,Description,name,...,first_name,last_name,birthday,gender,term_type,term_start,term_end,state_y,class,party_y
0,CORP,ST,PIMCO INVESTMENT GRADE CORPORATE BOND INDEX EX...,2023-11-28,Sale,"$1,001 - $15,000",NEW,UNITED IRA,11/28/23 SOLD 383.695 SHARES OF PIMCO INVESTME...,Carol Devine Miller,...,Carol,Miller,1950-11-04,F,rep,2019-01-03,2021-01-03,WV,NaN,Republican
1,TMO,ST,THERMO FISHER SCIENTIFIC INC,2023-11-28,Sale,"$1,001 - $15,000",NEW,MORGAN STANLEY - SELECT UMA ACCOUNT # 1,NaN,Josh Gottheimer,...,Josh,Gottheimer,1975-03-08,M,rep,2017-01-03,2019-01-03,NJ,NaN,Democrat
2,CRT,ST,CROSS TIMBERS ROYALTY TRUST,2023-11-28,Purchase,"$1,001 - $15,000",NEW,NaN,NaN,Virginia Foxx,...,Virginia,Foxx,1943-06-29,F,rep,2005-01-04,2007-01-03,NC,NaN,Republican
3,HCA,ST,"HCA HEALTHCARE, INC.",2023-11-28,Sale,"$1,001 - $15,000",NEW,MORGAN STANLEY - SELECT UMA ACCOUNT # 1,NaN,Josh Gottheimer,...,Josh,Gottheimer,1975-03-08,M,rep,2017-01-03,2019-01-03,NJ,NaN,Democrat
4,PANW,ST,"PALO ALTO NETWORKS, INC.",2023-11-28,Purchase,"$1,001 - $15,000",NEW,MORGAN STANLEY - SELECT UMA ACCOUNT # 1,NaN,Josh Gottheimer,...,Josh,Gottheimer,1975-03-08,M,rep,2017-01-03,2019-01-03,NJ,NaN,Democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38816,LMT,NaN,LOCKHEED MARTIN CORPORATION,2012-11-13,Sale,"$1,001 - $15,000",NEW,BROKERAGE #1 - EDJ 2718,NaN,Ms. Tammy Duckworth,...,Tammy,Duckworth,1968-03-12,F,rep,2013-01-03,2015-01-03,IL,NaN,Democrat
38817,DD,Stock,E. I. du Pont de Nemours and Company (NYSE),2012-09-13,Purchase,"$1,001 - $15,000",New,NaN,NaN,"Carper, Thomas R.",...,Thomas,Carper,1947-01-23,M,rep,1983-01-03,1985-01-03,DE,NaN,Democrat
38818,PG,NaN,PROCTER & GAMBLE COMPANY,2012-08-16,Sale,"$1,001 - $15,000",NEW,BROKERAGE #1 - EDJ 2718,NaN,Ms. Tammy Duckworth,...,Tammy,Duckworth,1968-03-12,F,rep,2013-01-03,2015-01-03,IL,NaN,Democrat
38819,CAT,NaN,"CATERPILLAR, INC.",2012-07-26,Purchase,"$1,001 - $15,000",NEW,BROKERAGE #2 USAA 8425,NaN,Ms. Tammy Duckworth,...,Tammy,Duckworth,1968-03-12,F,rep,2013-01-03,2015-01-03,IL,NaN,Democrat
38820,PG,NaN,PROCTER & GAMBLE COMPANY,2012-07-24,Sale,"$1,001 - $15,000",NEW,BROKERAGE #2 USAA 8425,NaN,Ms. Tammy Duckworth,...,Tammy,Duckworth,1968-03-12,F,rep,2013-01-03,2015-01-03,IL,NaN,Democrat

In [98]:
# One-hot encode the 'committee' column
committee_dummies = pd.get_dummies(committee_assignments['committee'], prefix='committee')

# Combine 'bioguideID', 'congress_num', and committee indicators
committee_assignments_encoded = pd.concat(
    [committee_assignments[['bioguideID', 'congress_num']], committee_dummies],
    axis=1
)

# Aggregate committee indicators by 'bioguideID' and 'congress_num'
committee_indicators = committee_assignments_encoded.groupby(
    ['bioguideID', 'congress_num']
).max().reset_index()

# Keep only 'bioguideID', 'congress_num', and committee indicators
committee_columns = [col for col in committee_indicators.columns if col.startswith('committee_')]
committee_indicators = committee_indicators[['bioguideID', 'congress_num'] + committee_columns]

# Create a binary indicator for Chair or Vice Chair
committee_assignments['is_chair_or_vice'] = committee_assignments['rank'].apply(
    lambda x: 1 if x in ['Chair', 'Vice Chair'] else 0
)

# Aggregate the rank indicator
rank_indicators = committee_assignments.groupby(
    ['bioguideID', 'congress_num']
)['is_chair_or_vice'].max().reset_index()

rank_indicators = rank_indicators[['bioguideID', 'congress_num', 'is_chair_or_vice']]

trades_columns = ['trade_id', 'bioguideID', 'congress_num', 'trade_date', 'transaction_type',
                  'trade_price', 'price_365_days_after_trade', 'price_change']
trades = trades[trades_columns]

# Merge trades with committee indicators on 'bioguideID' and 'congress_num'
master_df = trades.merge(
    committee_indicators,
    on=['bioguideID', 'congress_num'],
    how='left'
)

# Merge the rank indicators
master_df = master_df.merge(
    rank_indicators,
    on=['bioguideID', 'congress_num'],
    how='left'
)

# Fill NaN values in committee indicators
committee_columns = [col for col in master_df.columns if col.startswith('committee_')]
master_df[committee_columns] = master_df[committee_columns].fillna(0)

# Fill NaN values in 'is_chair_or_vice'
master_df['is_chair_or_vice'] = master_df['is_chair_or_vice'].fillna(0)

# Merge with representative_info to get 'party', 'state', 'gender', etc.
master_df = master_df.merge(
    representative_info[['bioguideID', 'party', 'state', 'gender', 'term_start']],
    on='bioguideID',
    how='left'
)

# Ensure 'term_start' is in datetime format
master_df['term_start'] = pd.to_datetime(master_df['term_start'])

# Calculate seniority in years
master_df['seniority_years'] = (master_df['trade_date'] - master_df['term_start']).dt.days / 365.25

In [100]:
master_df

,trade_id,bioguideID,congress_num,trade_date,transaction_type,trade_price,price_365_days_after_trade,price_change,committee_Agriculture,committee_Appropriations,...,committee_transportation and infrastructure,committee_veteransâ€™ affairs,committee_veteransâ€™affairs,committee_ways and means,is_chair_or_vice,party,state,gender,term_start,seniority_years
0,0,M001205,118,2023-11-28,Sale,93.709999,97.629997,3.919998,0,0,...,0,0,0,0,0.0,Republican,WV,F,2019-01-03,4.900753
1,1,G000583,118,2023-11-28,Sale,485.920013,529.630005,43.709991,0,0,...,0,0,0,0,0.0,Democrat,NJ,M,2017-01-03,6.899384
2,2,F000450,118,2023-11-28,Purchase,20.100000,10.940000,-9.160001,0,0,...,0,0,0,0,0.0,Republican,NC,F,2005-01-04,18.896646
3,3,G000583,118,2023-11-28,Sale,246.649994,327.220001,80.570007,0,0,...,0,0,0,0,0.0,Democrat,NJ,M,2017-01-03,6.899384
4,4,G000583,118,2023-11-28,Purchase,277.829987,387.820007,109.990021,0,0,...,0,0,0,0,0.0,Democrat,NJ,M,2017-01-03,6.899384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38816,38816,D000622,112,2012-11-13,Sale,90.180000,156.649994,66.469994,0,0,...,0,0,0,0,0.0,Democrat,IL,F,2013-01-03,-0.139630
38817,38817,C000174,112,2012-09-13,Purchase,44.733368,64.886871,20.153503,0,0,...,0,0,0,0,0.0,Democrat,DE,M,1983-01-03,29.694730
38818,38818,D000622,112,2012-08-16,Sale,67.000000,80.419998,13.419998,0,0,...,0,0,0,0,0.0,Democrat,IL,F,2013-01-03,-0.383299
38819,38819,D000622,112,2012-07-26,Purchase,83.300003,87.540001,4.239998,0,0,...,0,0,0,0,0.0,Democrat,IL,F,2013-01-03,-0.440794
38820,38820,D000622,112,2012-07-24,Sale,64.019997,80.910004,16.890007,0,0,...,0,0,0,0,0.0,Democrat,IL,F,2013-01-03,-0.446270

In [101]:
# Store master df
master_df.to_excel('../data/master_df.xlsx',index=False)